TOKEN=
APPLIACTION_ID=
DEVID=

TOTAL_SHARDS="2"
SHARD_LIST="0"

CLUSTER_MANAGER_MODE="worker"
CLUSTER_COUNT=1
CLUSTER=0
CLUSTER_MANAGER_MODE=process
MAINTENANCE=false
CLUSTER_QUEUE_MODE=normal
