TOKEN=MTMxOTMyNDU5OTczMjY2NjQwOA.GpZZ46.6fptAldaL7lidkT2vNc4c9ScZxVgjbaAi2GKJ8
APPLIACTION_ID=1319324599732666408
DEVID=1134766694506700821

TOTAL_SHARDS="2"
SHARD_LIST="0"

CLUSTER_MANAGER_MODE="worker"
CLUSTER_COUNT=1
CLUSTER=0
CLUSTER_MANAGER_MODE=process
MAINTENANCE=false
CLUSTER_QUEUE_MODE=normal